#footer{
  width:100%;
  height:58px;
  background-color: #303039;
  padding-top: 31px;
  padding-left: 98px;
  padding-right: 40px;
  font-size: 12px;
  color: white;
  font-family: "ו";
}
#footer a{
  font-size: 12px;
  color: white;
  font-family: "ו";
}