.guanyu{width: 1280px;
  height: 360px;
  background-color: #ededed;}

.guanyu img{width: 92px;
  height: 92px;
  padding-top: 89px;
  padding-left: 595px;
  display: block;}

.guanyu p{font-size: 54px;
  font-family: SimHei;
  color: #938e8c;
  padding-top: 49px;
  padding-left: 215px;}